* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}
.header img {
  float: left;
  margin-left: 20px;
  width: 110px;
  height: 40px;
  margin-top: 20px;
}
.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  border-bottom: 2px solid rgb(193, 190, 190);
}
.header a {
  margin-left: 8px;
}

.sea {
  position: absolute;

  left: 270px;
  top: 25px;
  z-index: 5;
  font-size: 18px;
  opacity: 0.6;
}
.links {
  float: right;
  width: 100%;
  height: 80px;
  line-height: 80px;
}
a {
  margin: 5px;
  text-decoration: none;
  color: black;
}
input {
  width: 50%;
  height: 50px;
  border-radius: 30px;
  padding-left: 30px;
}
.header input {
  margin-left: 35px;
}
.main img {
  width: 35%;
  height: 300px;
  margin-left: 430px;
  position: absolute;
  bottom: 0;
}
.main {
  background-color: #f2f3f5;
  width: 70%;
  height: 350px;
  margin-left: 250px;
  position: relative;
}
.boxx {
  width: 350px;
  height: 120px;
  background-color: white;
  padding: 15px;
  box-shadow: 0 1px 0 1px rgba(210, 206, 206, 0.5);
  position: absolute;
  top: 80px;
  left: 40px;
}
.boxx p {
  margin-left: 10px;
}
h2 {
  font-weight: bolder;
  margin-left: 10px;
}
p {
  margin-top: 15px;
}
i {
  margin: 5px;
}
button {
  border-radius: 50px;
}
.topic {
  margin-left: 250px;
}
.card {
  width: 70%;
  height: 200px;
  margin: auto;
  padding-left: 70px;
}
.card-box {
  width: 30%;
  height: 150px;

  border: 1px solid rgb(181, 176, 176);
  display: inline-block;
  overflow: auto;
  margin-left: 15px;
  cursor: pointer;
}

.header a:hover {
  color: blueviolet;
  font-weight: bolder;
}
.card-box h3 {
  text-align: center;
  margin-top: 20px;
}
.card-box1 a {
  color: blueviolet;
  font-weight: bold;
}
.card-box1 {
  width: 30%;
  height: 150px;

  border: 1px solid rgb(181, 176, 176);
  display: inline-block;
  overflow: auto;
  font-size: 13px;
  cursor: pointer;
}
.card-box1 h3,
p,
a {
  margin-left: 35%;
}
.card-box1 h3 {
  margin-top: 25px;
}

.clock {
  font-size: 60px;
  position: absolute;
  bottom: 110px;
  left: 320px;
}
.topic {
  margin-left: 300px;
}
