* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://media3.giphy.com/media/l0HU3tgMRsDnk1Sta/giphy.gif);
  padding: 150px 300px;
}

.table {
  width: 900px;
  height: 400px;

  border-radius: 15px;

  border-collapse: collapse;
  box-shadow: 7px 7px 3px 9px rgb(255, 239, 230);
}
td {
  border: 1px dashed rgb(118, 10, 10);
  border-style: dashed rgb(118, 10, 10);
  text-align: left;
}

.table {
  background-color: rgb(255, 181, 144);
}

.one {
  text-transform: uppercase;
  color: rgb(194, 1, 36);
  font-weight: bold;
}
.raspored {
  border: none;
  border-bottom: 1px dashed rgb(118, 10, 10);
  color: rgb(194, 1, 36);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.a {
  text-align: left;
  width: 10px;
  padding-left: 20px;
}

.one .two .three .four .five .six .seven .eight,
td {
  text-align: center;
}

.b {
  background-color: rgb(251, 219, 190);
}

.broj {
  border: none;
}
.main {
  text-align: center;
  border-bottom: 1px dashed rgb(118, 10, 10);
}

.nine {
  border: none;
  text-align: right;
}

.table:hover {
  cursor: pointer;
  opacity: 1;
  color: rgb(195, 128, 65);
}
