* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
}
.parent {
  margin: auto;
  width: 60%;
  background-color: rgb(141, 196, 177);
  height: 45vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  /* flex-wrap: nowrap; defaultna vrednost */
  /* flex-wrap: wrap-reverse; */
  /* gap: 15px; Prostor izmedju child elemenata. */
  /* row-gap: 15px; Prostor izmedju redova, a s' obzirom da display:flex ima samo jedan red,necemo ga koristiti ovde. */
  /* column-gap: 15px; Prostor izmedju kolona. Isti efekat kao gap. */
}

.box {
  /* width: 250px;  Kada je display flex,umesto width koristicemo flex basis. Isti je efekat. */
  flex-basis: 150px;
  height: 120px;
}
.first {
  background-color: rgb(213, 213, 41);
  /* flex-grow: 1; Uzima jednu celinu sirine. Treba ga definisati i na ostalim child elementima. */
  /* flex-shrink: 3; Property dolazi do izrazaja kada suzavamo ekran. Pozeljno je imati definisanu sirinu childa kako bi svojstvo flex-shrink doslo do izrazaja. */
  order: 2;
}
.second {
  background-color: rgb(219, 51, 51);
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* Order svojstvo nam sluzi za redjanje elemenata na stranici po nasoj zelji. MENJAMO HTML POREDAK ELEMENATA. */
  order: 3;
  /* margin-left: 35px; */
}

.third {
  background-color: rgb(232, 83, 163);
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  order: 1;
}
